<mat-toolbar color="primary">
  <span><a routerLink="/">DevGames</a></span>
  <ul>
      <li>
        <a mat-button routerLink="/games" routerLinkActive="mat-accent">Games</a>
      </li>
      <li>
        <a mat-button routerLink="/accessories" routerLinkActive="mat-accent">Accessories</a>
      </li>
      <li>
        <a mat-button routerLink="/stores" routerLinkActive="mat-accent">Stores</a>
      </li>
    </ul>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">logout</button>
        </li>
    </ul>
</mat-toolbar>
