<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="storeForm" (submit)="onSaveStore()"  *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        placeholder="Store Title">
      <mat-error *ngIf="storeForm.get('title').invalid">Please enter a Store title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="address"
        formControlName="address"
        placeholder="Store address"></textarea>
      <mat-error *ngIf="storeForm.get('address').invalid">Please enter the address.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select
      placeholder="Games" multiple formControlName="games"  name="games" required>
      <mat-option *ngFor="let game of games" [value]="game?.id">{{game.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select
      placeholder="Accessories" multiple formControlName="accessories" name="accessories" required>
      <mat-option *ngFor="let accessory of accessories" [value]="accessory?.id">{{accessory.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Store</button>
  </form>
</mat-card>





<!-- <mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveStore(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="store?.title"
        required
        minlength="3"
        placeholder="Store Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a Store title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="address"
        [ngModel]="store?.address"
        required
        placeholder="Store address"
        #address="ngModel"></textarea>
      <mat-error *ngIf="address.invalid">Please enter the address.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select
      placeholder="Games" multiple [(ngModel)]="selectedGames" name="games" required>
      <mat-option *ngFor="let game of games" [value]="game?.id">{{game.title}}</mat-option>
      </mat-select>
      <p *ngFor="let game of store?.games"> Stored Game: {{ game?.title}} </p>
    </mat-form-field>
    <mat-form-field>
      <mat-select
      placeholder="Accessories" multiple [(ngModel)]="selectedAccessories" name="accessories" required>
      <mat-option *ngFor="let accessory of accessories" [value]="accessory?.id">{{accessory.title}}</mat-option>
      </mat-select>
      <p *ngFor="let accessory of store?.accessories"> Stored Accessory: {{ accessory?.title}} </p>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Store</button>
  </form>
</mat-card> -->

