<br>
<div class="container">
  <div class="col-md-4">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <button mat-flat-button color="primary" (click)="onAddAccessory()" *ngIf="userIsAuthenticated">Add Accessory</button>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center" *ngIf="accessories.length > 0 && !isLoading">
          <mat-card class="card-picture" multi="true" *ngFor="let accessory of accessories" >
            <a style="cursor: pointer;" [routerLink]="accessory.id" routerLinkActive="active">
            <img mat-card-image [src]="accessory.imagePath" alt="accessory.title"></a>
            <mat-card-actions *ngIf="userIsAuthenticated">
                <button mat-button color="primary" fxFlex="50%" [routerLink]="[accessory.id,'edit']">EDIT</button>
                <button mat-button color="warn" fxFlex="50%" (click)="onDelete(accessory.id)">DELETE</button>
              </mat-card-actions>
          </mat-card>
        </div>
        <mat-paginator [length]="totalAccess" [pageSize]="accessPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="accessories.length > 0"></mat-paginator>
  </div>
</div>
<p class="info-text mat-body-1" *ngIf="accessories.length <= 0 && !isLoading">No accessories added yet</p>


<!-- <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
    <span fxFlex="100%">{{accessory.title}}</span>
  </mat-card-title> -->
